# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.tfstate.lock.info

# Secrets
*.pem
*.key
id_ed25519
id_ed25519.pub
id_rsa
id_rsa.pub
token

# OS
.DS_Store
*.swp
*.swo
*~
